@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal2 {
    
    opacity: 0; /* Start with hidden state */
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    backdrop-filter: blur(10px); /* Apply blur effect */
    overflow-y: scroll;
    transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
}

.overlay-container{
    width:1200px;
  
    display: flex;
    position: relative;
    margin:3% auto;
    color:black;

}

/* Modal Content */
.modal-content {
    
    box-shadow: rgba(0,0,0,0.5);
    background-color: #ffffff !important ;
    margin: 3% auto !important; /* 15% from the top and centered */
    padding-right:20px;
    padding: 70px !important;
    width: 1000px !important; /* Could be more or less, depending on screen size */
    height: auto !important;
    border-radius: 30px !important ;
    scroll-snap-type: y mandatory;
    position: relative;
    z-index:2;
    
    flex-shrink: 0 !important;
    

}

.modal2.show {
    opacity: 1; /* Make visible */
    visibility: visible; /* Ensure it's visible */
}


/* The Close Button */
.close {
    
    z-index: 3;
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left:165px;
    top:55px;
    border-radius:100px;
}

.close2{
    z-index:4;
    color: black;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left:1060px;
    top:60px;
    border-radius:100px;
    padding:0;
}

.close3{
    z-index:10;
    color: black;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left:1030px;
    top:130px;
    border-radius:100px;
    padding:0;
}


.close:hover, .close2:hover, .close3:hover,
.close:focus, .close2:focus , .close3:focus {
    color: rgb(113, 113, 113);
    text-decoration: none;
    cursor: pointer;
}

.modal-content img{
    border-radius: 20px;
    width:100%;
    object-fit: cover;
    display:block;
}

.modal-content h1, .modal-content h2{
    font-weight:600;
}
.modal-content p{
    text-align: justify;
    font-family:sans-serif;
}

.modal-content video{
    border-radius: 20px;
    width:100%;
    object-fit: cover;
    display:block;
}

@media (max-width:526px) {
    .modal2 {
        opacity: 0; /* Start with hidden state */
        visibility: hidden;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        backdrop-filter: blur(10px); /* Apply blur effect */
        overflow-y: scroll;
        transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
            
    }
    .overlay-container{
        width:370px;
        display: flex;
        position: relative;
        margin:0 auto;
        color:black;
        justify-content: center;
    
    }
    .modal-content img{
        border-radius: 20px;
        width:100%;
        object-fit: cover;
        display:block;
    }
    .modal-content {

        box-shadow: rgba(0,0,0,0.5);
        background-color: #ffffff !important ;
        margin: 3% auto !important; /* 15% from the top and centered */
        
        padding: 60px !important;
        width: 365px !important; /* Could be more or less, depending on screen size */
        height: auto !important;
        border-radius: 30px !important ;
        scroll-snap-type: y mandatory;
        position: relative;
        z-index:2;
        font-size:10px;
        flex-shrink: 0 !important;
            
    }
    .close {
    
        z-index: 3;
        color: #000000;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        left:25px;
        top:30px;
        border-radius:100px;
    }
    
    .close2{
        z-index:4;
        color: black;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        left:315px;
        top:30px;
        border-radius:100px;
        padding:0;
    }
    
    .close3{
        font-size: 5px;
        z-index:10;
        color: black;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        left: 275px;
        top:30px;
        border-radius:100px;
        padding:0;
    }
    

}


@media(min-width:768px) and (max-width:1280px){
    .modal2 {
    
        opacity: 0; /* Start with hidden state */
        visibility: hidden;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        backdrop-filter: blur(10px); /* Apply blur effect */
        overflow-y: scroll;
        transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
    }
    
    .overlay-container{
        width:750px;
        display: flex;
        position: relative;
        margin:3% auto;
        color:black;
        justify-content: center;
    
    }
    
    /* Modal Content */
    .modal-content {
        
        box-shadow: rgba(0,0,0,0.5);
        background-color: #ffffff !important ;
        margin: 3% auto !important; /* 15% from the top and centered */
        padding-right:20px;
        padding: 70px !important;
        width: 750px !important; /* Could be more or less, depending on screen size */
        height: auto !important;
        border-radius: 30px !important ;
        scroll-snap-type: y mandatory;
        position: relative;
        z-index:2;
        
        flex-shrink: 0 !important;
        
    
    }
    
    .modal2.show {
        opacity: 1; /* Make visible */
        visibility: visible; /* Ensure it's visible */
    }
    
    
    /* The Close Button */
    .close {
        
        z-index: 3;
        color: #000000;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        left:25px;
        top:45px;
        border-radius:100px;
    }
    
    .close2{
        z-index:4;
        color: black;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        left:680px;
        top:45px;
        border-radius:100px;
        padding:0;
    }
    
    .close3{
        z-index:10;
        color: black;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        left:630px;
        top:45px;
        border-radius:100px;
        padding:0;
    }
}